html {
    box-sizing: border-box;
    font-size : 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin     : 0;
    padding    : 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height   : auto;
}

header {
    width: 100%;
    text-align: center;
}
.links {
    list-style: none;

}

.link {
    display: inline;
    padding-right: 5px;
}
.link a {
    text-decoration: none;
    color: #402135;
    font-size: 20pt;
}
.link a:hover {
    color : rgb(187, 110, 210)
}

.grid {
    display              : grid;
    grid-template-columns: repeat(4, .5fr);
    grid-gap             : .5em;
}

.minipets {
    margin : 0 auto;
    padding: 0;

}

.container {
    margin: 0 auto;
    width: 90%;
}
.subtitle {
    margin-bottom: 10px;
    border-bottom: 1px double #402135;
    width: 100%;
}

.minipets>p {
    text-align: center;
}

 .magazines ,
  td {
     border: 1px solid #000;
 }

 .magazines {
    width:100%;
 }

 .magazines > tr > th,
 .magazines > tr > td {
    font-family: monospace;
     text-align: center;
     margin    : 0;
     padding   : 5px
 }

 tr:nth-child(even) {
     background-color: #DDD;
 }

 td:first-of-type {
     border-right: 1px solid #000;
     text-align  : right;
 }

 td {
     font-weight: bold;
 }